[user]
	name = rdlester
	email = sursiks.010@gmail.com
[alias]
	new = "!f() { git cd master && git checkout -b $1; }; f"
	del = branch -D
	cd = checkout
	ls = branch
	p = status
	s = status -s -b
	fix = rebase --whitespace=fix HEAD~1
	ca = "!f() { git commit -a -m \"$1\" && git fix; }; f"
	cad = "!f() { git commit -a -m 'done' && git fix; }; f"
	cal = "!f() { git commit -a -m 'lint' && git fix; }; f"
	car = "!f() { git commit -a -m 'rev' && git fix; }; f"
	save = stash save
	pop = stash pop
	undo = reset --hard HEAD
	rollback = reset --hard HEAD^
	d = diff
	diffp = diff HEAD^ HEAD
	r = rebase master
	m = merge master
	ff = "!f() { git fetch origin && git rebase origin/master; }; f"
	ffm = "!f() { git fetch origin && git merge origin/master; }; f"
	f = "!f() { currentHead=$(git symbolic-ref --short -q HEAD) ; if [ \"$currentHead\" == \"master\" ]; then git ff; else git cd master && git ff && git cd $currentHead && git r; }; f"
	fm = "!f() { currentHead=$(git symbolic-ref --short -q HEAD) ; if [ \"$currentHead\" == \"master\" ]; then git ffm; else git cd master && git ffm && git cd $currentHead && git m; }; f"
[push]
	default = simple
[credential]
	helper = osxkeychain
