[user]
	name = rdlester
	email = sursiks.010@gmail.com
[alias]
	new = "!f() { git cd master && git checkout -b $1; }; f"
	del = branch -D
	cd = checkout
	ls = branch
	p = status
	s = status -s -b
	fix = rebase --whitespace=fix HEAD~1
	ca = "!f() { git commit -a -m \"$1\" && git fix; }; f"
	cad = "!f() { git commit -a -m 'done' && git fix; }; f"
	cal = "!f() { git commit -a -m 'lint' && git fix; }; f"
	car = "!f() { git commit -a -m 'rev' && git fix; }; f"
	save = stash save
	pop = stash pop
	undo = reset --hard HEAD
	rollback = reset --hard HEAD^
	d = diff
	diffp = diff HEAD^ HEAD
	r = rebase master
	m = merge master
	upbase = "!f() { git fetch origin && git rebase origin/master; }; f"
	upbasem = "!f() { git fetch origin && git merge origin/master; }; f"
	up = "!f() { currentHead=$(git symbolic-ref --short -q HEAD) ; if [ \"$currentHead\" == \"master\" ]; then git upbase; else git cd master && git upbase && git cd $currentHead && git r; }; f"
	upm = "!f() { currentHead=$(git symbolic-ref --short -q HEAD) ; if [ \"$currentHead\" == \"master\" ]; then git upbasem; else git cd master && git upbasem && git cd $currentHead && git m; }; f"
[push]
	default = simple
[credential]
	helper = osxkeychain
